archive/
dump/
cache/
scrape/*.json
video/
output.txt
output.json
exceptions.txt
april/
toplinks/*.json
toplinks/*.txt
__pycache__
login.py
misc/*.json
misc/*.txt
options/*.json
options/*.txt
batcher/*.json
references/*.json
pricecompare/*.json